apiVersion: apps/v1
kind: Deployment
metadata:
  name: tarka-ui
  namespace: tarka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tarka-ui
  template:
    metadata:
      labels:
        app: tarka-ui
    spec:
      containers:
        - name: tarka-ui
          image: REPLACE_ME_UI_IMAGE
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
          resources:
            requests:
              cpu: "25m"
              memory: "64Mi"
            limits:
              cpu: "150m"
              memory: "256Mi"
